<!doctype html>
<html lang="en">

<head>
    <title>My Car History</title>
    <meta name="description" content="My Cars" />
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/master.css" />
    <link rel="stylesheet" type="text/css" href="../css/carHistory.css" />

</head>

<body>
    <header class="banner">
        <% include partials/header.ejs %>
    </header>
    
    <% include partials/user-navigation.ejs %>
	
    <main>
        <% include partials/site-navigation.ejs %>

        <div id="bread">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li>></li>
                    <li><a href="/carHistory">My History</a></li>
                </ul>
        </div>

      
        <p>Show list of current AND PAST CARS</p>
		
    </main>
	
	<footer id="Validation">
        <% include partials/footer.ejs %>
	</footer>
    
</body>
</html>
