<!doctype html>
<html lang="en">

<head>
    <title>Rate User</title>
    <meta name="description" content="Rate" />
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/master.css" />
    <link rel="stylesheet" type="text/css" href="../css/item.css" />
	

</head>

<body>
        <header class="banner">
            <% include partials/header.ejs %>
        </header>

        <% include partials/user-navigation.ejs %>
	
    <main>
        <% include partials/site-navigation.ejs %>

        <div id="bread">
        <ul>
            <li><a href="/index">Home</a></li>
            <li>></li>
            <li><a href="/rateItem">Rate Item</a></li>
        </ul>
        </div>

    
        <br>
         <br>
         <div id="pictureContent" class="clearfix">
        <h2>Rate: <%= user.username %></h2>
                <h2>User Rating: <%= user.rating.ratingTotal / user.rating.ratingCount %></h2>

        <form action="/rateUser" method="POST">
            <input type="hidden" name="userID" value="<%= user.userID %>"/>
            <select name="rating">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <input type="submit" value="Rate <%= user.username %>"/>
        </form>

        </div>

        
        
        
		
    </main>
	
	<footer id="Validation">
        <% include partials/footer.ejs %>
	</footer>
    
</body>
</html>
