#list button:hover{
    text-decoration: underline;
}

#stuff{
    margin-left: 220px;
}

#formNav form{
    display: inline;
}

.btn-link{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:black;
    padding:0;
    text-decoration:none;
    font-family:inherit;
    font-size:inherit;
  }
